$primary: #08a657;
$secondary: #176b49;
$accent: #2677ff;
$dark: #161b22;
$positive: #08a657;
$negative: #d94848;
$info: #2677ff;
$warning: #ee8b21;

$generic-border-radius: 10px;
$button-border-radius: 10px;
$body-font-size: 15px;
