@mixin wrap-anywhere {
  min-width: 0;
  overflow-wrap: anywhere;
  word-break: break-word;
}

@mixin truncate {
  min-width: 0;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
